h1 {
    color: #669955;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: #91785D;
    text-align: center;
}
.word {
    color: #695069;

}
.definition {
    color: #C68548;

}
